@model restauranteASP.Articulo

@{
    ViewBag.Title = "Eliminar Articulo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="pt-1">Articulo</h4>

<p class="pt-1">Esta seguro que desea eliminar la mesa?</p>
<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descipcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descipcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCaducidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCaducidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.descipcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.descipcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadMedida.descipcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadMedida.descipcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarifaImpuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarifaImpuesto)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>



<div class="pt-2">
    @Html.ActionLink("Volver a la lista", "Index")
</div>
