@model restauranteASP.Articulo_

@{
    ViewBag.Title = "Ediar Articulo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="pt-1">Articulo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idArticulo)


        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.descipcion, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.descipcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.descipcion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.cantidad, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
                    </div>
                </div>

              
            </div>

            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.sku, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.sku, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sku, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.fechaIngreso, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.fechaIngreso, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.fechaIngreso, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>

            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.fechaCaducidad, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.fechaCaducidad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.fechaCaducidad, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.idCategoria, "Categoria", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.DropDownList("idCategoria", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idCategoria, "", new { @class = "text-danger" })
                    </div>
                </div>

              

            </div>

            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.idUnidadMedida, "Unidad de Medida", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.DropDownList("idUnidadMedida", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idUnidadMedida, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.idProveedor, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.idProveedor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.idProveedor, "", new { @class = "text-danger" })
                    </div>
                </div>

             
            </div>

            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.tarifaImpuesto, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.tarifaImpuesto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tarifaImpuesto, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

       
        @*<div class="row">
            <div class="col-6">

            </div>

            <div class="col-6">

            </div>
        </div>*@


      
     

    

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-info" })
</div>
