@model restauranteASP.Cliente_

@{
    ViewBag.Title = "Registrar clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

    
    <input type="button" name="input" id="input" value="hola" />

        <h4>Cliente</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.idCliente, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <div class="input-group">
    <h4>Cliente</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.idCliente, htmlAttributes: new { @class = "control-label col-md-10" })
        <div class="col-md-10">
            <div class="input-group">
                @Html.EditorFor(model => model.idCliente, new { htmlAttributes = new { @class = "form-control" } })
                <div class="input-group-append">

                        @*@Html.ActionLink("Buscar", "buscarCliente", null, new { id = "buscarBTN", name = "buscarBTN"})*@

                        <input type="button" id="buscarBTN" , name="buscarBTN" class="btn btn-outline-success" value="BUSCAR" />

                    </div>                </div>
            </div>
            @Html.ValidationMessageFor(model => model.idCliente, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombreCompleto, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">

                @Html.TextBoxFor(model => model.nombreCompleto, null, new { @class = "form-control", @readonly = "readonly", @id = "nombreCompleto" })
                @Html.ValidationMessageFor(model => model.nombreCompleto, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="row">
            <div class="col-6">

            </div>

            <div class="col-6">

            </div>
        </div>*@

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.correoElectronico, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.correoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.correoElectronico, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.telefonoCelular, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.telefonoCelular, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.telefonoCelular, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.telefonoResidencial, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.telefonoResidencial, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.telefonoResidencial, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    @Html.Label("Guardar")
                    <div class="col-md-offset-2 col-md-12">
                        <input type="submit" value="Crear" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>


     

      
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-info" })
</div>




<script>
    $("#buscarBTN").click(function () {
        $.ajax({
            type: "POST",
            url: "buscarCliente",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: "{identificacion:'" + $('#idCliente').val() + "'}",
            success: function (response) {
                if (response != null) {
                    $('#nombreCompleto').val(response.nombreCompleto);
                } else {
                    alert("Something went wrong");
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });

</script>
