@model restauranteASP.Usuario_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usuario1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario1)
        </dd>
    

        <dt>
            @Html.DisplayNameFor(model => model.nombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCompleto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.usuario1 }, new { @class = "btn btn-warning", style = "width:100px; height:30px; border-radius:15px; text-transform:uppercase; margin-left:500px; " })
    @Html.ActionLink("Volver a la lista", "Index")
</p>
