@using restauranteASP.Models;
@model Modelos


@{
    ViewBag.Title = "Pago";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<link href="~/Styles/Pago.css" rel="stylesheet" />


<h2>Pago</h2>

@*@foreach (var item in Model.CajaView)
    {
        <td>
            @Html.DisplayFor(modelItem => item.idCaja)
        </td>

    }

    @foreach (var item in Model.MesaView)
    {
        <td>
            @Html.DisplayFor(modelItem => item.idMesa)
        </td>
    }*@



<div class="mesa-container mb-4">

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

        <div class="btn-group mr-2" role="group" aria-label="First group">
            @using (Html.BeginForm())
            {
                <input type="button" name="button" class="btn btn-primary btn-lg active" value="1" />
                <input type="button" name="button" class="btn btn-primary btn-lg active" value="2" />
                <input type="button" name="button" class="btn btn-primary btn-lg active" value="3" />
                <input type="button" name="button" class="btn btn-primary btn-lg active" value="4" />
                <input type="button" name="button" class="btn btn-primary btn-lg active" value="5" />
                <input type="button" name="button" class="btn btn-primary btn-lg active" value="6" />

            }
        </div>

    </div>
    <div>
        @foreach (var item in Model.MesaView)
        {
            <table class="table">
                <thead class="thead-dark ">
                    <tr>
                        <td>@idMesa</td>
                        <td>@capacidad</td>
                        <td>@</td>

                    </tr>
                </thead>
            </table>
        }
    </div>

    <div>
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Total</label>
                    <input type="text" class="form-control" id="disabledInput" value="" disabled>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Impuesto 13%</label>
                    <input type="text" class="form-control" id="disabledInput" value="" disabled>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Total A Pagar</label>
                    <input type="text" class="form-control" id="disabledInput" value="" disabled>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Monto Recibido</label>
                    <input type="text" class="form-control" id="validationTooltip02" value="" required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Vuelto</label>
                    <input type="text" class="form-control" id="disabledInput" value="" disabled>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
            </div>

    </div>
    <button class="btn btn-primary text-center" type="submit">Pagar</button>
    </form>



</div>

















        </div>
