@model restauranteASP.CajaMovimiento_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CajaMovimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idTipoMedioPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTipoMedioPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caja.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caja.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CajaTipoMoviento.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CajaTipoMoviento.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
