@model restauranteASP.Mesa_

@{
    ViewBag.Title = "Eliminar Mesa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Styles/CRUDmesas/eliminar.css")
<h4 class="pt-1">Mesa</h4>

<p class="pt-1">¿Está seguro que desea eliminar la mesa?</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacidadPersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacidadPersona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MesaEstado.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesaEstado.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" style="width: 100px; height: 30px; border-radius: 15px; text-transform: uppercase; margin-left: 505px; " />
        </div>
    }
</div>


<div class="pt-2">
    @Html.ActionLink("Volver a la lista", "Index")
</div>