@model restauranteASP.Mesa

@{
    ViewBag.Title = "Detalles de Mesa";
}

    <div>
        <h4 class="pt-1">Mesa</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.capacidadPersona)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.capacidadPersona)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MesaEstado.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MesaEstado.descripcion)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.idMesa }, new { @class = "btn btn-warning" })
    </p>


<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

