@model IEnumerable<restauranteASP.Mesa_>

@{
    ViewBag.Title = "Mesa";
}
@Styles.Render("~/Styles/CRUDmesas/index.css")
<p class="pt-4">
    @Html.ActionLink("Crear", "Create", null, new { @class = "btn btn-success", style = "width: 100px; background-color: green; text-transform:uppercase; border-radius:10px;" })
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idMesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capacidadPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesaEstado.descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idMesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacidadPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesaEstado.descripcion)
            </td>
            <td>

                @Html.ActionLink("Editar", "Edit", new { id = item.idMesa }, new { @class = "btn btn-warning", style = " text-transform:uppercase; font-size: 15px; text-align:center; border-radius:10px; " })
                @Html.ActionLink("Detalles", "Details", new { id = item.idMesa }, new { @class = "btn btn-info", style = " text-transform:uppercase; font-size: 15px; text-align:center; border-radius:10px; " })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idMesa }, new { @class = "btn btn-danger", style = " text-transform:uppercase; font-size: 15px; text-align:center; border-radius:10px;  " })


            </td>
        </tr>
    }

</table>

