@model IEnumerable<restauranteASP.Mesa>

@{
    ViewBag.Title = "Mesa";
}
    <p class="pt-4">
        <button class="btn btn-success">@Html.ActionLink("Crear", "Create", null, new { @style = "color:white;" })</button>
    </p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idMesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capacidadPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesaEstado.descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.idMesa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.capacidadPersona)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MesaEstado.descripcion)
    </td>
    <td>
        <button class="btn btn-warning">@Html.ActionLink("Editar", "Edit", new { id = item.idMesa }, new { @style = "color:white;" })</button>
        <button class="btn btn-info">@Html.ActionLink("Detalles", "Details", new { id = item.idMesa }, new { @style = "color:white;" })</button>
        <button class="btn btn-danger">@Html.ActionLink("Eliminar", "Delete", new { id = item.idMesa }, new { @style = "color:white;" })</button>
    </td>
</tr>
    }

</table>

